<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
<meta charset="utf-8">
<title>chatsjs</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body class="container-fluid">
<center class="row">
	<h1>implementation of <b>chartJS</b> using <b>django</b></h1>
</center>
<hr />
	<canvas id="myChartline" width="1000px" height="600px"></canvas>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>

<script>
	var endpoint = '/predictStockPrice';
	var dataJ={{ data|safe }}
	var ctx = document.getElementById("myChartline").getContext('2d');
        var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',
            // The data for our dataset
            data:{{ data|safe }},

		// Configuration options go here
		options: {
		scales: {
			xAxes: [{
			display: true,
                ticks: {
			    autoSkip: false
                },
			}],
			yAxes: [{
			ticks: {
				beginAtZero: true
			}
			}]
		}
		}

	});

</script>
</body>

</html>
